/* 
    Created on : 13-Sep-2019, 19:36:36
    Author     : Pieter van den Hombergh {@code p.vandenhombergh@fontys.nl}
*/

body {
    font-family: sans-serif; font-size:10pt;
}

body.appointmentplanner {
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

body.sortingimpl {

    background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 100%), url('grass-T15.jpg'); 
    background-repeat: repeat;      
}
img.photo {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 15px;
    border: solid white 2px;
    box-shadow: 8px 8px 15px rgba(46, 229, 157, 0.4);
}
.tt{
    padding-left: 1em;
    padding-right: 1em;
}
body.prc2Personal{
    background-color: slategray;
}
div.container{
    display:flex;
    flex-flow: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-items: flex-end; /*last baseline;*/
}
a.snummer, a.grp{
     text-decoration: none;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}
div.report{
    display:box;
    background-color:#ccc;
    /*width:250px;*/
    margin: 1em;
    border-radius: 8px;
    padding: 3px;
}

span.in {
    display:block;
    width:100%;
    color:#606;
    text-align: right;
    margin:0 0;
}

span.chk {
    display:block;
    width:100%;
    color:#066;
    text-align: right;
    margin:0 0;
}

fieldset.match{
    padding:0;
    margin:0;
    border-width: 4px;

}
.broken {
    background-image: url(crack-5.png);
    background-size: contain;
    border: solid 5px maroon;
    transform:  rotate(.017turn);
}

.passed {
    border: solid 5px #6f6;
}

.failed {
    border: solid 5px yellow;
}

.errors {
    border: solid 5px red;
}

.ignored {
    outline: solid 5px #aaa;
}

.ttpassed {
    outline: solid 5px #6f6;
}

.ttfailed {
    outline: solid 3px yellow;
}

.tterrors {
    outline: solid 3px red;
}

.ttignored {
    outline: solid 3px #aaa;
}

.ttcompiler {
    margin: 1em 1em;
    outline: solid 3px #a00;
    transform:  rotate(-.007turn);
}

.nowork {
    border: solid 5px #000;
}

.notest {
    border: solid 5px #888;
}

.lowcoverage {
    border: dashed 5px #f83;
}

.warning {
    font-size: 120%;
    background-color: orange;
    text-align: center;
}

.pending {
    border: solid 5px #c88; 
    background-color:#eee;
    text-align: center;
}


div.report > h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    margin: 0 10 0 95;
    font-size:18px;
    text-align:center;
    border: 3px solid black;
    background-color: white;
    border-radius:10px;
}

h4 {
    background: white;
    margin: 0px;
    padding:0px 3px 0px 3px;
    text-align:center;
    border: 1px solid black;
}

h5 {
    margin: 0px;
    padding:0px;
    text-align:center;
}

table.main {background:#FFF;color:#330033;}
table.odometer {border-spacing:0; width:80px;}
table.results {
    border: 1px solid black;
    border-collapse:collapse; 
}
div.odometer {width:80px;}
.even {background:#fff;color:black;}
.odd {background:#eee;color:black;}
.indent {background:white;color:black;}
.separator {background:#330033;color:white;font-size:80%;}
th,td{padding:.25em;vertical-align:middle;}
td.num{ text-align:right;}
.match{
    background-color:#eee;
}
.screen {
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
}
.screen {
    font-size: 90%;
    color: black;
    margin: 1em 0.25in;
    padding: 0.5em;
    background: rgb(240,240,240);
    border-top: black dotted 1px;
    border-left: black dotted 1px;
    border-right: black solid 4px;
    border-bottom: black solid 4px;
}
p:first-letter {font-size:140%;font-weight:bold;}

span.t{color: #000;}
span.p{background-color: green;color:white}
span.f{background-color: yellow;color:#000}
span.e{background-color: #f00; color:#fff;}
span.s{color: #606;}
span.ti{color: #000;}

h1 { 
    color:#fff; font-size:28px;
    text-align:center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}

h2 { color:#fff; font-size:22px;
     text-align:center;
     text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}


button a { text-decoration: none;}

.button:hover {
    background-color: #2EE59D;
 /*   box-shadow: 8px 8px 15px rgba(46, 229, 157, 1.0);*/
    color: #fff;
    transform: translateY(-5px);
}

progress {
    height: 20px;
    width: 100%;
}

.huray {
    color: #3f3;
    font-weight: bolder;
    font-size:20px;
    text-align:center;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,80,0,0.5);
}
progress.incomplete{
    direction: rtl;
}
progress.completed {
    direction: ltr;
}

progress.completed[value]::-webkit-progress-value {
    background:green;
}

table.apps {
    border-collapse: collapse;

}
table.apps td:nth-child(1) {font-weight: bolder; text-align: left;}
table.apps td:nth-child(4) {text-align: right;}
table.apps td:last-child {text-align: right;}
table.apps td.total {border-top: solid black 2px;}

.mine{
/*    outline: dashed red 3px;*/
    box-shadow: 2px 6px 8px rgba(255,192,0, 1.0);
    
      }
